@model ProductViewModel

@{
    ViewBag.Title = "Edit Products";
}


<h1>@ViewBag.Title</h1>

<div class="row">
    <form method="post">
        <div class="form-group">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Write your product here..."></input>
                <span asp-validation-for="Name" class="small small text-danger"></span>
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Edit"></input>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}